@charset "UTF-8";
html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #544837;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767.98px) {
  html {
    font-size: 8px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #2f281e;
}

@font-face {
  font-family: 'ProximaNova';
  src: local("☺"), url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local("☺"), url("fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local("☺"), url("fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local("☺"), url("fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local("☺"), url("fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: local("☺"), url("fonts/GothamBol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.prim-btn {
  padding: 13px 22px;
  outline: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #ff9900;
  color: #ffffff;
  border: 1px solid transparent;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  -webkit-animation: clickbait 4s linear infinite 1s forwards;
          animation: clickbait 4s linear infinite 1s forwards;
}

.prim-btn._clean {
  color: #173a56;
  border: 1px solid #bcd0e5;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .prim-btn {
    padding: 11px 20px;
  }
}

@media (max-width: 992px) {
  .prim-btn {
    padding: 10px 5px;
  }
}

.prim-btn:focus, .prim-btn:hover {
  border: 1px solid #b37f7f;
  -webkit-box-shadow: 2px 2px 3px 0 #000;
          box-shadow: 2px 2px 3px 0 #000;
}

.prim-btn:hover {
  text-decoration: underline;
}

.prim-btn:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.575);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.575);
}

.prim-link {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #2f281e;
  letter-spacing: 0.3px;
  outline: none;
  border: none;
  border: 1px solid transparent;
}

.prim-link:hover, .prim-link:focus {
  text-decoration: underline;
}

.prim-link:active {
  font-weight: 600;
  letter-spacing: 0.2px;
}

.header {
  padding-top: 11px;
  margin-bottom: 60px;
}

@media (max-width: 991.98px) {
  .header {
    margin-bottom: 30px;
  }
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 30;
  background-color: #fff;
}

.header__accordeon {
  height: 0;
  width: 100%;
  position: relative;
  z-index: -1;
  border-radius: 18px;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: 0.5s ease 0.3s;
  transition: 0.5s ease 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 0, 36, 0)), color-stop(15%, rgba(255, 255, 255, 0.871498)), to(rgba(251, 194, 112, 0.877132)));
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.871498) 15%, rgba(251, 194, 112, 0.877132) 100%);
}

.header__accordeon_active {
  height: 120px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-logo {
  padding: 12px 0;
}

.navbar-logo__icon {
  position: relative;
  top: -3px;
  left: 0;
  margin-right: 8px;
}

.navbar-nav {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 31px;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .navbar-nav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 85px;
    left: 0;
    width: 70%;
  }
}

.navbar-nav_active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
}

.navbar-nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .navbar-nav__ul {
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    margin: 0 12px;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar-nav__li {
  list-style-type: none;
  margin: 0 10px;
}

@media (max-width: 991.98px) {
  .navbar-nav__li {
    padding: 0 3px;
    margin: 0;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav__li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44%;
            flex: 0 0 44%;
  }
}

.navbar-nav__li a {
  font-size: 14px;
  padding: 4px;
}

.navbar-account {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 767.98px) {
  .navbar-account {
    visibility: hidden;
    opacity: 0;
    height: 80px;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 85px;
    right: 0;
    margin-right: 12px;
  }
}

@media (max-width: 575.98px) {
  .navbar-account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar-account_active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s ease 0.3s;
  transition: 0.3s ease 0.3s;
}

.navbar-account__signin {
  font-weight: 600;
  margin-right: 10px;
}

@media (max-width: 991.98px) {
  .navbar-account__signin {
    width: 73px;
    margin-right: 7px;
  }
}

@media (max-width: 575.98px) {
  .navbar-account__signin {
    margin: 0 0 11px 0;
  }
}

.navbar-account__signup {
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .navbar-account__signup {
    width: 76px;
  }
}

.navbar-burger {
  background: url(../images/icons/burger-icon.svg) no-repeat center/contain;
  width: 37px;
  height: 37px;
  display: none;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 5px;
}

.navbar-burger_active {
  background: url(../images/icons/close-icon.svg) center/30px 30px no-repeat;
}

@media (max-width: 767.98px) {
  .navbar-burger {
    display: block;
  }
}

.hero-present {
  padding-top: 101px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

@media (max-width: 991.98px) {
  .hero-present {
    padding-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .hero-present {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.hero-present__title {
  margin-bottom: 33px;
  padding-right: 45px;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.4rem;
}

@media (max-width: 575.98px) {
  .hero-present__title {
    text-align: center;
    padding: 0 30px;
  }
}

.hero-present__text {
  margin: 0 0 54px 0;
  padding-right: 48px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #544837;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media (max-width: 991.98px) {
  .hero-present__text {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 575.98px) {
  .hero-present__text {
    text-align: center;
    padding: 0 15px;
  }
}

.hero-present__buttons {
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .hero-present__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
}

.hero-present__start-btn {
  margin: 0 26px 3px 0;
  min-width: 175px;
  min-height: 53px;
  -webkit-transition: 0.5s linear 0.8s;
  transition: 0.5s linear 0.8s;
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

@media (max-width: 991.98px) {
  .hero-present__start-btn {
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .hero-present__start-btn {
    margin-right: 0;
  }
}

.hero-present__video-btn {
  cursor: pointer;
  padding: 0 10px 0 30px;
  min-height: 53px;
  color: #ff9900;
  font-weight: 600;
  text-decoration: underline;
  background: url(../images/icons/Triangle_play.png) center left 5px no-repeat;
  border-radius: 15px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.hero-present__video-btn:hover, .hero-present__video-btn:focus {
  border: 1px solid #ff99008c;
}

.hero-present__video-btn:active {
  font-weight: 700;
}

.hero-present__text._active {
  -webkit-transition: 0.8s ease 0.3s;
  transition: 0.8s ease 0.3s;
}

.hero-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 537px;
}

@media (max-width: 575.98px) {
  .hero-image {
    display: none;
  }
}

.hero-image__container {
  margin-top: 15px;
  background: url(../images/100-layers.svg) no-repeat 100%/100%;
  width: 108%;
  height: 100%;
}

@media (max-width: 1199.98px) {
  .hero-image__container {
    margin-top: -30px;
  }
}

@media (max-width: 767.98px) {
  .hero-image__container {
    width: 100%;
  }
}

.functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../images/functions-bgr.svg) no-repeat center bottom;
}

.functions__title {
  margin: 22px auto 56px;
  padding-left: 17px;
  text-align: center;
  max-width: 480px;
  color: #2f281e;
  line-height: 5.5rem;
  font-size: 3.6rem;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .functions__title {
    padding: 0 10px;
  }
}

.functions__items {
  padding-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.functions__signup {
  margin-bottom: 90px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 175px;
  min-height: 53px;
}

.func-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 240px;
  padding-right: 25px;
}

@media (max-width: 767.98px) {
  .func-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.func-item__logo {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  margin-bottom: 34px;
}

@media (max-width: 767.98px) {
  .func-item__logo {
    margin-bottom: 10px;
  }
}

.func-item__logo_1 {
  background: #7752be url(../images/icons/func__icon1.png) no-repeat center;
  background-size: 10px;
  -webkit-animation: click 4s linear infinite 0s forwards;
          animation: click 4s linear infinite 0s forwards;
}

.func-item__logo_2 {
  background: #fab005 url(../images/icons/func__icon2.png) no-repeat center;
  background-size: 15px;
  -webkit-animation: spinning 4s linear infinite 1s forwards;
          animation: spinning 4s linear infinite 1s forwards;
}

.func-item__logo_3 {
  background: #f03e3d url(../images/icons/func__icon3.png) no-repeat center;
  background-size: 15px;
  -webkit-animation: heartbit 4s linear infinite 2s forwards;
          animation: heartbit 4s linear infinite 2s forwards;
}

.func-item__logo_4 {
  background: #4dadf7 url(../images/icons/func__icon4.png) no-repeat center;
  background-size: 15px;
  -webkit-animation: flip 4s linear infinite 3s forwards;
          animation: flip 4s linear infinite 3s forwards;
}

.func-item__title {
  color: #2f281e;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 19px;
}

@media (max-width: 767.98px) {
  .func-item__title {
    margin-bottom: 7px;
  }
}

.func-item__text {
  color: #544837;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 34px;
}

.buyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 145px;
}

@media (max-width: 991.98px) {
  .buyer {
    margin-top: 90px;
  }
}

@media (max-width: 767.98px) {
  .buyer {
    margin-top: 40px;
  }
}

.buyer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 575.98px) {
  .buyer__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.buyer__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 575.98px) {
  .buyer__image {
    display: none;
  }
}

.buyer__image .img-container {
  width: 100%;
  height: 100%;
}

.buyer__image .img-container-1 {
  background: url(../images/buyer-1.svg) no-repeat 0/100% 100%;
  min-height: 200px;
}

.buyer__image .img-container-2 {
  background: url(../images/buyer-2.svg) no-repeat 0/100% 100%;
}

.buyer__image .img-container-3 {
  background: url(../images/buyer-3.svg) no-repeat 0/100% 100%;
}

.text-item {
  padding-right: 70px;
}

@media (max-width: 991.98px) {
  .text-item {
    padding-right: 10px;
  }
}

@media (max-width: 575.98px) {
  .text-item {
    text-align: center;
    padding: 0 25px;
  }
}

.text-item__pretitle {
  margin-bottom: 12px;
  font-size: 16px;
  color: #544837;
}

@media (max-width: 575.98px) {
  .text-item__pretitle {
    text-align: center;
  }
}

.text-item__title {
  margin-bottom: 25px;
  color: #2f281e;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .text-item__title {
    margin-bottom: 18px;
  }
}

.text-item__text {
  margin-bottom: 31px;
  color: #544837;
  line-height: 26px;
  font-size: 16px;
}

.point-item {
  padding-right: 70px;
}

@media (max-width: 991.98px) {
  .point-item {
    padding-right: 30px;
  }
}

@media (max-width: 575.98px) {
  .point-item {
    padding: 0 10px;
  }
}

.point-item__title {
  margin-bottom: 13px;
  color: #2f281e;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: 991.98px) {
  .point-item__title {
    margin-bottom: 0;
  }
}

.point-item__text {
  margin-bottom: 25px;
  color: #544837;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 991.98px) {
  .point-item__text {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .point-item__text {
    text-align: center;
  }
}

.buyer-inverse__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 77px;
}

@media (max-width: 991.98px) {
  .buyer-inverse__text {
    padding-left: 20px;
  }
}

@media (max-width: 575.98px) {
  .buyer-inverse__text {
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  .text-item-inverse {
    padding-right: 0px;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .text-item-inverse {
    padding: 0 15px;
  }
}

@media (max-width: 991.98px) {
  .text-item-inverse__text {
    text-align: justify;
    margin-bottom: 20px;
  }
}

.text-item-inverse__points .point-item-inverse {
  background: url(../images/icons/buyer-2-check.svg) no-repeat 0 50%/30px;
  padding: 0 45px 0 67px;
  margin-bottom: 36px;
  color: #544837;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 991.98px) {
  .text-item-inverse__points .point-item-inverse {
    text-align: justify;
    padding: 0 15px 0 50px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

.buyer-3 {
  margin-bottom: 170px;
}

@media (max-width: 991.98px) {
  .buyer-3 {
    margin-bottom: 130px;
  }
}

@media (max-width: 767.98px) {
  .buyer-3 {
    margin-bottom: 60px;
  }
}

.contact {
  background: url(../images/contacts-bgr.svg) no-repeat center top;
  margin-bottom: 30px;
}

.contact__content-wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.contact__intro {
  padding-top: 240px;
}

@media (max-width: 767.98px) {
  .contact__intro {
    padding-top: 100px;
  }
}

.contact__title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 27px;
  font-weight: 700;
  font-size: 36px;
}

.contact__text {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 47px;
  color: #567592;
  font-size: 16px;
  line-height: 26px;
}

.contact__btn {
  display: block;
  min-width: 216px;
  min-height: 53px;
  margin: 0 auto 377px;
  font-size: 1.8rem;
}

@media (max-width: 767.98px) {
  .contact__btn {
    margin-bottom: 35px;
  }
}

.contact__experts {
  font-size: 1.6rem;
}

@media (max-width: 767.98px) {
  .contact__experts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.expert-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .expert-item {
    position: static !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .expert-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.expert-item__text {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 25px;
  padding: 14px 20px;
  -webkit-box-shadow: 2px 5px 8px rgba(52, 70, 88, 0.1);
          box-shadow: 2px 5px 8px rgba(52, 70, 88, 0.1);
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .expert-item__text {
    padding-left: 35px;
    background: url(../images/icons/small_hand.svg) no-repeat 8px center/26px 20px;
  }
}

.expert-item__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  top: 36px;
  left: -60px;
}

@media (max-width: 767.98px) {
  .expert-item__image {
    display: none;
  }
}

.expert-item-1 {
  position: absolute;
  top: 190px;
  left: -58px;
}

@media (max-width: 1299.98px) {
  .expert-item-1 {
    top: 140px;
    left: -10px;
  }
}

@media (max-width: 767.98px) {
  .expert-item-1 {
    position: static;
  }
}

.expert-item-1 .expert-item__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.expert-item-1 .expert-item__image {
  top: 36px;
  left: 40px;
}

.expert-item-2 {
  position: absolute;
  top: 472px;
  left: 32px;
}

@media (max-width: 1199.98px) {
  .expert-item-2 {
    top: 475px;
    left: 20px;
  }
}

@media (max-width: 992px) {
  .expert-item-2 {
    left: -10px;
    top: 490px;
  }
}

@media (max-width: 767.98px) {
  .expert-item-2 {
    position: static;
  }
}

.expert-item-3 {
  position: absolute;
  top: 572px;
  left: 400px;
}

@media (max-width: 1199.98px) {
  .expert-item-3 {
    top: 670px;
    left: 20%;
  }
}

.expert-item-4 {
  position: absolute;
  top: 445px;
  right: -75px;
}

@media (max-width: 1200px) {
  .expert-item-4 {
    right: -40px;
  }
}

@media (max-width: 991px) {
  .expert-item-4 {
    top: 520px;
    right: -25px;
  }
}

.expert-item-5 {
  position: absolute;
  top: 126px;
  right: 18px;
}

@media (max-width: 1199.98px) {
  .expert-item-5 {
    top: 60px;
    right: 0px;
  }
}

.articles__title {
  margin-bottom: 8px;
  line-height: 5rem;
  max-width: 600px;
  color: #2f281e;
  font-weight: 700;
  font-size: 3.4rem;
}

@media (max-width: 575.98px) {
  .articles__title {
    text-align: center;
  }
}

.articles__subtitle {
  margin-bottom: 56px;
  max-width: 800px;
  color: #544837;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

@media (max-width: 575.98px) {
  .articles__subtitle {
    text-align: center;
    max-width: 360px;
    margin: 0 auto 30px;
  }
}

.articles__postbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 3px solid #dee8f2;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .articles__postbar {
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}

.postbar-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin: 0 auto 40px;
}

@media (max-width: 575.98px) {
  .postbar-item {
    max-width: 300px;
  }
}

.postbar-item__logo {
  margin-bottom: 28px;
  height: 185px;
}

@media (max-width: 767.98px) {
  .postbar-item__logo {
    margin-bottom: 18px;
  }
}

.postbar-item__logo img {
  border-radius: 10px 10px 0 0;
}

@media (max-width: 575.98px) {
  .postbar-item__logo img {
    max-width: 300px;
  }
}

.postbar-item__data {
  margin-bottom: 13px;
  color: #544837;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

@media (max-width: 767.98px) {
  .postbar-item__data {
    margin-bottom: 5px;
  }
}

.postbar-item__data .author {
  font-weight: 700;
}

.postbar-item__data-author {
  display: inline-block;
}

.postbar-item .postbar-item__data-author:after {
  content: ' |  ';
}

.postbar-item__data-date {
  display: inline-block;
}

.postbar-item__title {
  width: 88%;
  color: #2f281e;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
}

@media (max-width: 991.98px) {
  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__qlinks {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21%;
          flex: 0 1 21%;
}

@media (max-width: 991.98px) {
  .footer__qlinks {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}

.footer__legal {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21%;
          flex: 0 1 21%;
}

@media (max-width: 991.98px) {
  .footer__legal {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    text-align: right;
  }
}

.footer__sign-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
}

@media (max-width: 991.98px) {
  .footer__sign-bar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .footer__sign-bar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer-logo__icon {
  position: relative;
  top: -3px;
  left: 0;
  margin-right: 8px;
}

.footer__titles {
  color: #2f281e;
  font-family: "Gotham";
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 35px;
}

@media (max-width: 767.98px) {
  .footer__titles {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .qlinks__item {
    margin-bottom: 15px;
  }
}

.qlinks__item a {
  color: #544837;
  font-size: 16px;
  font-weight: 400;
  line-height: 3.5rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .legal__item {
    margin-bottom: 15px;
  }
}

.legal__item a {
  color: #544837;
  font-size: 16px;
  font-weight: 400;
  line-height: 3.5rem;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .sign-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 575.98px) {
  .sign-bar__title {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.sign-bar__input {
  width: 325px;
  height: 48px;
  opacity: 1;
  padding-left: 12px;
  color: #bcd0e5;
  font-size: 16px;
  font-family: "Poppins";
  display: block;
  margin-bottom: 15px;
}

@media (max-width: 575.98px) {
  .sign-bar__input {
    width: 300px;
  }
}

.sign-bar__button {
  width: 131px;
  height: 39px;
  background-color: #ff9900;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
}

.ov-hidden {
  overflow: hidden;
}

._anim--up {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform: translate(0, 60%);
          transform: translate(0, 60%);
  opacity: 0;
}

._anim--down {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
  opacity: 0;
}

._anim--left {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transform: translate(-60%, 0);
          transform: translate(-60%, 0);
  opacity: 0;
}

._anim--right {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transform: translate(60%, 0);
          transform: translate(60%, 0);
  opacity: 0;
}

._anim--jump-out {
  -webkit-transform: scale(0.3, 0.1);
          transform: scale(0.3, 0.1);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.28, 0.62, 0.65, 1.64);
          transition-timing-function: cubic-bezier(0.28, 0.62, 0.65, 1.64);
}

._anim--zoom-in {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

._anim--cascade-wrapper._animation-done ._anim--cascade-item:nth-child(1) {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s ease 0s;
  transition: opacity 0.8s, -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, opacity 0.8s;
  transition: transform 0.8s ease 0s, opacity 0.8s, -webkit-transform 0.8s ease 0s;
}

._anim--cascade-wrapper._animation-done ._anim--cascade-item:nth-child(2) {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
  transition: opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, opacity 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
}

._anim--cascade-wrapper._animation-done ._anim--cascade-item:nth-child(3) {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
  transition: opacity 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
}

._anim--cascade-wrapper._animation-done ._anim--cascade-item:nth-child(4) {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
  transition: opacity 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
}

._anim--cascade-wrapper._animation-done ._anim--cascade-item:nth-child(5) {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
  transition: opacity 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
  transition: transform 0.8s ease 1s, opacity 0.8s ease 1s;
  transition: transform 0.8s ease 1s, opacity 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
}

._animation-done {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.test-text-ul {
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #000;
  text-align: justify;
  background-color: #fef;
  list-style-type: none;
}

.test-text-li {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  word-spacing: 4px;
  border: 1px solid #8b8989;
  background: #eff;
  border-radius: 10px;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    border-radius: 6px;
  }
  15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: none;
            transform: none;
    border-radius: 19px;
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    border-radius: 6px;
  }
  15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: none;
            transform: none;
    border-radius: 19px;
  }
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  4% {
    -webkit-transform: none;
            transform: none;
  }
  6% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  8% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes click {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  4% {
    -webkit-transform: none;
            transform: none;
  }
  6% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  8% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes heartbit {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  4% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  8% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  16% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbit {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  4% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  8% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  16% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  8% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  16% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  8% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  16% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes clickbait {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  4% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  8% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  16% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes clickbait {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  4% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  8% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  16% {
    -webkit-transform: none;
            transform: none;
  }
}

/*
Попробовать:
<ul class="test-text-ul _anim--cascade-wrapper">
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat
    architecto amet esse repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam
    facere soluta velit harum dignissimos. Ipsa, cupiditate.
    Lorem ipsum dolor sit amet.
  </li>
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita
    quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat architecto amet
    esse
    repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam facere soluta velit harum
    dignissimos. Ipsa, cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore magnam dicta est ipsa, placeat quam porro
    sunt facere nam omnis aliquid mollitia quis dolor veniam, tempore iusto! Nam, quia.
  </li>
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita
    quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat architecto amet
    esse
    repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam facere soluta velit harum
    dignissimos. Ipsa, cupiditate.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum doloribus est consequatur, vitae non facere
    iusto itaque autem quas rem debitis blanditiis quo tempore dolorem officiis ipsa, nisi et! Ea?
  </li>
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita
    quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat architecto amet
    esse
    repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam facere soluta velit harum
    dignissimos. Ipsa, cupiditate.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus libero, aliquam veritatis facilis nisi
    ab autem neque ratione, nihil debitis perspiciatis reprehenderit ut deserunt dolore alias earum pariatur
    dolorem quod.
  </li>
</ul>

остальные просто: вешаешь один из вариантов анимации или пишешь свой с custom
Родителю вешается ov hidden и всё делается само
*/
/*
._anim--custom, 
._anim--up, 
._anim--down, 
._anim--left, 
._anim--right, 
._anim--jump-out, 
._anim--zoom-in, 
._anim-wrapper
*/
section, header, footer {
  padding: 0 10px;
}

@media (min-width: 575.98px) {
  section, header, footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  section, header, footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section, header, footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  section, header, footer {
    padding: 0 calc(50vw - 554px);
  }
}
/*# sourceMappingURL=style.css.map */