.footer {
   display: flex;
   margin-bottom: 20px;

   @media (max-width: 991.98px) {
      flex-wrap: wrap;
   }

   justify-content: space-between;

   @media (max-width: 767.98px) {
      justify-content: space-around;
   }

   &__logo {
      flex: 0 1 29%;

      @media (max-width: 991.98px) {
         flex: 0 1 100%;
         margin: 50px auto;   
         display: flex;
         justify-content: center;     
      }
   }

   &__qlinks {
      flex: 0 1 21%;

      @media (max-width: 991.98px) {
         flex: 0 1 33%;
      }
      @media (max-width: 767.98px) {
         order: 3;  
      }
   }

   &__legal {
      flex: 0 1 21%;

      @media (max-width: 991.98px) {
         flex: 0 1 33%;
      }
      @media (max-width: 767.98px) {
         order: 4;
      }
   }

   &__sign-bar {
      flex: 0 1 29%;

      @media (max-width: 991.98px) {
         flex: 0 1 33%;
      }
      @media (max-width: 767.98px) {
         align-self: center;
         order: 2;
         flex: 1 1 100%;
         margin-bottom: 30px;
      }
   }
}

.footer-logo{
   &__icon {
      position: relative;
      top: -3px;
      left: 0;
      margin-right: 8px;
   }

   &__text {}
}

.footer__titles {
   //3 titles!
   //display: flex;
   color: #2f281e;
   font-family: "Gotham";
   font-size: 2rem;
   font-weight: 700;
   line-height: 3rem;
   margin-bottom: 35px;
   @media (max-width: 767.98px) {
      margin-bottom: 15px;
   }
}

.qlinks {
   &__title {}

   &__item {
      a {
         color: #544837;
         font-size: 1.6rem;
         font-weight: 400;
         line-height: 3.5rem;
         text-decoration: none;
      }
   }
}

.legal {
   &__title {}

   &__item {
      a {
         color: #544837;
         font-size: 1.6rem;
         font-weight: 400;
         line-height: 3.5rem;
         text-decoration: none;
      }
   }
}

.sign-bar {
   @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__title {}

   &__form {}

   //in form:
   &__input {
      display: block;
   }

   &__button {}
}