.functions {
   display: flex;

   //
   display: none;
   
   flex-direction: column;
   background: url(/images/functions-bgr.svg) no-repeat center bottom;

   &__title {
      margin: 82px auto 56px;
      padding-left: 17px;
      text-align: center;
      max-width: 480px;
      color: #2f281e;
      line-height: 5.5rem;
      font-size: 3.6rem;
      font-weight: 700;
   }

   &__items {
      padding-left: 18px;
      display: flex;
      justify-content: space-between;
   }

   &__signup {
      position: relative;
      top: 0;
      left: 10px;
      align-self: center;
      width: 175px;
      height: 53px;
      border-radius: 4px;
      background-color: #ff9900;
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: 700;
      border: none;
      margin-bottom: 90px;
   }
}

//in "items":
.functions__item {
   max-width: 240px;
   padding-right: 25px;

   &-logo {
      width: 50px;
      height: 50px;
      border-radius: 19px;
      margin-bottom: 34px;
   }

   .logo-1 {
      background: #7752be url(/images/icons/func__icon1.png) no-repeat center;
      background-size: 15px;
   }

   .logo-2 {
      background: #fab005 url(/images/icons/func__icon2.png) no-repeat center;
      background-size: 15px;
   }

   .logo-3 {
      background: #f03e3d url(/images/icons/func__icon3.png) no-repeat center;
      background-size: 15px;
   }

   .logo-4 {
      background: #4dadf7 url(/images/icons/func__icon4.png) no-repeat center;
      background-size: 15px;
   }


   &-title {
      color: #2f281e;
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 19px;
   }

   &-text {
      color: #544837;
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin-bottom: 34px;
   }
}