.header {
   margin-top: 11px;
   margin-bottom: 60px;

   @media (max-width: 991.98px) {
      margin-bottom: 30px;
   }

   &__navbar {
      display: flex;
      justify-content: space-between;
      padding: 25px 0;

      @media (max-width: 991.98px) {
         padding: 15px 0;
      }
   }

   &__hero {
      display: flex;
   }
}

.navbar-logo {
   position: relative;
   top: 9px; left: 0;
   margin: 0 auto 0 0; 

   &__icon {
      position: relative;
      top: -3px; left: 0;
      margin-right: 8px;
   }

   //&__text {} // it's an img
}

.navbar-nav {
   &__ul {
      display: flex;
      margin-right: 51px;

      @media (max-width: 991.98px) {
         margin-right: 5px;
      }

      @media (max-width: 767.98px) { /////////////!
         visibility: hidden;
         opacity: 0;
         width: 1px; height: 1px;
      }

      li {
         list-style-type: none;
         padding: 0 5px;
         margin: 0 6px;

         @media (max-width: 991.98px) {
            padding: 0 3px;
            margin: 0 2px;
         }

         a {
            text-decoration: none;
            font-size: 1.4rem;
            line-height: 28px;
            color: #2f281e;
         }
      }
   }
}

.navbar-account {
   @media (max-width: 767.98px) { /////////////!
      visibility: hidden;
      opacity: 0;
      width: 1px; height: 1px;
   }

   &__signin {
      width: 102px;
      height: 46px;
      color: #173a56;
      font-size: 1.6rem;
      font-weight: 600;
      border: 1px solid #bcd0e5;
      border-radius: 4px;
      background-color: #fff;
      outline: none;
      margin-right: 10px;

      @media (max-width: 991.98px) {
         width: 80px;
      }
   }

   &__signup {
      border: none;
      color: #ffffff;
      width: 110px;
      height: 46px;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 4px;
      outline: none;
      background-color: #ff9900;

      @media (max-width: 991.98px) {
         width: 80px;
      }
   }
}

.navbar-burger {
   display: none;
   margin-top: 4px;
   border: none;
   outline: none;
   background-color: #fff;

   @media (max-width: 767.98px) { /////////////!
      display: block;
   }

   // img {}
}

.hero-present {
   padding-top: 101px;
   flex: 0 1 47%;

   @media (max-width: 991.98px) {
      padding-top: 40px;
   }

   @media (max-width: 575.98px) {
      flex-basis: 100%;
   }

   &__title {
      margin-bottom: 33px;
      padding-right: 45px;
      color: #2f281e;
      font-size: 4.4rem;
      font-weight: 700;
      line-height: 5.4rem;

      @media (max-width: 575.98px) {
         text-align: center;
         padding: 0 30px;
      }
   }

   &__text {
      margin: 0 0 54px 0;
      padding-right: 48px;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #544837;

      @media (max-width: 991.98px) {
         margin: 0 0 25px 0;
      }

      @media (max-width: 575.98px) {
         text-align: center;
         padding: 0 15px;
      }

      // @media (max-width: 767.98px) {
      //    display: none;
      // }
   }

   &__buttons {
      margin-bottom: 60px;

      @media (max-width: 575.98px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-right: 0;
      }
   }

   &__start-btn {
      margin-right: 26px;
      width: 175px;
      height: 53px;
      border: none;
      border-radius: 4px;
      background-color: #ff9900;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;

      @media (max-width: 575.98px) {
         margin-right: 0;
      }
   }

   &__video-btn {
      background-color: #fff;
      outline: none;
      border: none;
      width: 175px;
      height: 53px;
      color: #ff9900;
      font-weight: 600;
      font-size: 16px;
      text-decoration: underline;
      background: url(../images/icons/Triangle_play.png) no-repeat 0 center;

      @media (max-width: 991.98px) {
         margin-top: 15px;
      }

      @media (max-width: 575.98px) {
         margin-left: 30px;
      }
   }
}

.hero-image {
   flex: 0 1 50%;
   min-height: 537px;

   @media (max-width: 575.98px) {
      display: none;
   }

   &__container {
      margin-top: 15px;
      background: url(../images/100-layers.svg) no-repeat 100%/100%;
      width: 108%;
      height: 100%;

      @media (max-width: 1199.98px) {
         margin-top: -30px;
      }

      @media (max-width: 767.98px) {
         width: 100%;
      }


   }
}