//folder with fonts in 'css' folder!

@font-face {
   font-family: 'ProximaNova';
   src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: local('☺'), url('../fonts/Poppins-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: local('☺'), url('../fonts/Poppins-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: local('☺'), url('../fonts/Poppins-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Gotham';
   src: local('☺'), url('../fonts/GothamBol.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}