html {
   font-size: 10px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   color: #544837;
}

* {
   box-sizing: border-box;
}

@media (max-width: 767.98px) {
   html {
      font-size: 8px;
   }
}

h1, h2, h3, h4, h5, h6 {
   color: #2f281e
}

@import 'reset';
@import 'fonts';

@import 'common-items';

@import 'header';
@import 'functions';
@import 'buyers';
@import 'contact';
@import 'articels';
@import 'footer';

@import 'animation-for-items';

/*
._anim--custom, 
._anim--up, 
._anim--down, 
._anim--left, 
._anim--right, 
._anim--jump-out, 
._anim--zoom-in, 
._anim-wrapper
*/

//от 320px до 576px авто ширина контента и фиксированные отступы 10px. 
//от 576px до 768px ширина 540px и динамические отступы. 
//от 768px до 992px ширина 720px и динамические отступы. 
//от 992px до 1200px ширина 960px и динамические отступы. 
//от 1200px ширина 1180px и динамические отступы. (

section,   header,   footer {
   padding: 0 10px;
}

@media (min-width: 575.98px) {
   section,   header,   footer {
      padding: 0 calc(50vw - 270px);
   }
}

@media (min-width: 767.98px) {
   section,   header,   footer {
      padding: 0 calc(50vw - 360px);
   }
}

@media (min-width: 991.98px) {
   section,   header,   footer {
      padding: 0 calc(50vw - 480px);
   }
}

@media (min-width: 1199.98px) {
   section,   header,   footer {
      padding: 0 calc(50vw - 554px);
   }
}


